[submodule "docs/themes/hugo-book"]
	path = docs/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "docs/themes/loveit"]
	path = docs/themes/loveit
	url = https://github.com/dillonzq/LoveIt.git
